<% include ../partials/header.ejs %>
 <!--Benzir Ahmed-->
  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1>My
          <%= title %>
        </h1>
      </div>
    </div>
  </div>
  <div class="section.css-table">
    <div class="section.two-column">
      <div class="section.cell">
       <!-- Using featurette to display my projects (Bootstrap) -->
        <hr class="featurette-divider">
        <div class="row.featurette">
          <div class="col-md-offset-3 col-md-6">
          
            <h3 class="featurette-heading">
              Currently Working On: <br><br>
              <span class="muted"><a href="https://github.com/chensourceforge/MockCentennial/issues">MockCentennial</a></span>
            </h3>
            <p class="lead">
              <h4>Background:</h4> <h5>Currently Centennial College has a problem with its department office during the start of the semester due to the line-up build up outside the said departments due to registration problems that spans from a simple schedule change to more complex ones like no time tables. This is all due to the current online registration system Centennial has implemented which is outdated and is considered to today standard.</h5>
             
              <h4>Proposal:</h4> <h5>We propose to completely fix the problems the current system has and maybe even improve the current system by adding in automated temporary time tables to the system that prioritizes the student's main courses. Our main objective is to adopt changes to the real back-end, leading to an actual reduction in the line-up. Therefore, we also do everything we can to maximize the likelihood of our implementations being accepted and adopted by the school.</h5>


            <h4>Strengths of our System:</h4>

            <h5>Easier to register your courses on the coming semester.
            Completely remove the reliance on an army of advisers for students to talk about their timetable registration/changes.
            Automated generation of a temporary timetable can easily remove the need for manual timetable changes for model route students.
            Shows Students wait lists for courses and course availability.
            Some term based classes are not repeated in other terms, eg. fall classes only offered in fall.</h4>
            <h4>Weakness of our System:</h4>

            <h5>Currently not applicable to summer term
            Note: What's hosted here is a placeholder back-end for us to test out our implementations. Do not expect the code to be compatible with the real back-end. These are meant to be quick-and-dirty implementations for demonstration purposes.</h5>
            </p>
          </div>
          <div class="col-md-5">
            
              
          </div>
        </div>
        

      </div>
    </div>
  </div>

  <% include ../partials/footer.ejs %>